# data files
data_sets/
output_data/
test_pipeline/

# plots. These are logged to wandb so they stay organized
plots/
*.png

# wandb run info
wandb/

*pipfile*
*example*

*pycache*
._*
.idea*
.tmp*
*config*
*.pdf
code_snippet_testing.py
*.pt